@media screen and (max-width:1000px) {

    .card1{
        flex-direction: column;
    align-items: center;
    }

    nav{
        grid-auto-flow: row;
    }


    .cont2{
        overflow: scroll;
    }

    .container{
        overflow:scroll;
    }

    nav{
        grid-auto-flow: row;
    }
}
